### Table of Contents

01. Importing Libraries

02. Importing Data Sets

03. Aggregating Data with agg()

04. Aggregating Data with transform()

05. Deriving Columns with loc() for flagging

# 01. Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data Set(s)

In [2]:
# Creating a path variable as a short cut for future importing of data
path = r'/Users/tuor/DA Projects/230321 Instacart Basket Analysis'

In [3]:
# Importing orders_products_merged data frame
df_ord_prod_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '230328_order_products_merged.pkl'))

In [4]:
# Subset environment of orders_products_merged to test execution of edits
df = df_ord_prod_merge[:1000000]

In [5]:
# Confirming proper creation of data frame
df.shape

(1000000, 18)

In [6]:
# Splitting the data into a group
df.groupby('product_name')

# 03. Aggregating Data with agg()

In [7]:
# Splitting the data into a group and aggregating to obatin a mean value in another group
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.562844
2                17.518895
3                16.907152
4                17.537934
5                14.894521
6                16.658449
7                17.072954
8                14.942021
9                15.447580
10               18.681852
11               15.352278
12               14.327957
13               16.578690
14               16.666369
15               16.153766
16               17.768070
17               15.602964
18               19.674252
19               16.924344
20               16.292631
21               25.535596

In [8]:
# Alternative for obtaining the mean of order_number with grouping department_id
df.groupby('department_id')['order_number'].mean()

department_id
1     15.562844
2     17.518895
3     16.907152
4     17.537934
5     14.894521
6     16.658449
7     17.072954
8     14.942021
9     15.447580
10    18.681852
11    15.352278
12    14.327957
13    16.578690
14    16.666369
15    16.153766
16    17.768070
17    15.602964
18    19.674252
19    16.924344
20    16.292631
21    25.535596
Name: order_number, dtype: float64

In [9]:
# Obtaining the mean, min and max of order_number with grouping department_id
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.562844   1  99
2                17.518895   1  96
3                16.907152   1  99
4                17.537934   1  99
5                14.894521   1  99
6                16.658449   1  99
7                17.072954   1  99
8                14.942021   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.352278   1  99
12               14.327957   1  99
13               16.578690   1  99
14               16.666369   1  99
15               16.153766   1  99
16               17.768070   1  99
17               15.602964   1  99
18               19.674252   1  99
19               16.924344   1  99
20               16.292631   1  99
21               25.535596   1  98

# 04. Aggregating Data with transform()

In [12]:
# Creating max_order column with maximum number of orders by a customer
df_ord_prod_merge['max_order'] = df_ord_prod_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
# Increasing the number of rows returned from head functionn
pd.options.display.max_rows = None

In [34]:
# Slimming to only the investigative columns
df_slimmed = df_ord_prod_merge[['order_id','user_id', 'order_number', 'max_order']]

In [55]:
# Grouping by order number to count orders and see if they equal max
df_grouped = df_slimmed.groupby(['order_id','user_id','order_number']).mean()

In [59]:
# Confirming transformation
df_sorted = df_grouped.sort_values(['user_id','order_number'])

In [61]:
df_sorted.head(100)

                               max_order
order_id user_id order_number
2539329  1       1                  10.0
2398795  1       2                  10.0
473747   1       3                  10.0
2254736  1       4                  10.0
431534   1       5                  10.0
3367565  1       6                  10.0
550135   1       7                  10.0
3108588  1       8                  10.0
2295261  1       9                  10.0
2550362  1       10                 10.0
2168274  2       1                  14.0
1501582  2       2                  14.0
1901567  2       3                  14.0
738281   2       4                  14.0
1673511  2       5                  14.0
1199898  2       6                  14.0
3194192  2       7                  14.0
788338   2       8                  14.0
1718559  2       9                  14.0
1447487  2       10                 14.0
1402090  2       11                 14.0
3186735  2       12                 14.0
3268552  2       13                 14.0
839880   2       14                 14.0
1374495  3       1                  12.0
444309   3       2                  12.0
3002854  3       3                  12.0
2037211  3       4                  12.0
2710558  3       5                  12.0
1972919  3       6                  12.0
1839752  3       7                  12.0
3225766  3       8                  12.0
3160850  3       9                  12.0
676467   3       10                 12.0
521107   3       11                 12.0
1402502  3       12                 12.0
3343014  4       1                   5.0
2030307  4       2                   5.0
691089   4       3                   5.0
94891    4       4                   5.0
2557754  4       5                   5.0
2717275  5       1                   4.0
1909121  5       2                   4.0
2267326  5       3                   4.0
157374   5       4                   4.0
2086598  6       1                   3.0
298250   6       2                   3.0
998866   6       3                   3.0
2565571  7       1                  20.0
2402008  7       2                  20.0
121053   7       3                  20.0
1695742  7       4                  20.0
3321109  7       5                  20.0
1682003  7       6                  20.0
1014379  7       7                  20.0
776265   7       8                  20.0
2507052  7       9                  20.0
1396119  7       10                 20.0
565870   7       11                 20.0
3239072  7       12                 20.0
1175028  7       13                 20.0
3060817  7       14                 20.0
3120740  7       15                 20.0
2425840  7       16                 20.0
23391    7       17                 20.0
2984707  7       18                 20.0
369015   7       19                 20.0
2452257  7       20                 20.0
600894   8       1                   3.0
2979257  8       2                   3.0
2570360  8       3                   3.0
280530   9       1                   3.0
2762092  9       2                   3.0
1830137  9       3                   3.0
1224907  10      1                   5.0
68288    10      2                   5.0
2115522  10      3                   5.0
83395    10      4                   5.0
1353310  10      5                   5.0
2411567  11      1                   7.0
1170872  11      2                   7.0
2840752  11      3                   7.0
1611810  11      4                   7.0
2921164  11      5                   7.0
790927   11      6                   7.0
1468214  11      7                   7.0
1483446  12      1                   5.0
1247527  12      2                   5.0
1916106  12      3                   5.0
1057378  12      4                   5.0
221248   12      5                   5.0
2618231  13      1                  12.0
2560699  13      2                  12.0
2288946  13      3                  12.0
19256    13      4                  12.0
1378982  13      5                  12.0
2363981  13      6                  12.0
1906169  13      7                  12.0
1757094  13      8                  12.0
519471   13      9                  12.0

# 05. Deriving Columns with loc() for flagging

In [62]:
# Flagging Loyal customer for order frequency of over 40
df_ord_prod_merge.loc[(df_ord_prod_merge['max_order'] > 40), 'loyalty_flag'] = 'Loyal customer'

In [65]:
# Flagging Loyal customer for order frequency of over 40 or less and over 10
df_ord_prod_merge.loc[(df_ord_prod_merge['max_order'] > 10) & (df_ord_prod_merge['max_order'] <= 40), 'loyalty_flag'] = 'Regular customer'

In [66]:
# Flagging Loyal customer for order frequency less than equal to 10
df_ord_prod_merge.loc[(df_ord_prod_merge['max_order'] <= 10), 'loyalty_flag'] = 'New customer'

In [67]:
df_ord_prod_merge.shape

(32434212, 20)

In [69]:
# Count of each customer type
df_ord_prod_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64